@import url(styles/navbar.css);
@import url(styles/conteudo.css);

:root {
  --cor-de-fundo: #FFFFFF;
  --vermelho: #8E2424;
  --azul-escuro: #101828;
  --cinza: #667085;
  --cinza-claro: #98A2B3;
  --fonte-principal: "Inter";
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 500;
  margin: 0 180px;
}