.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container__introducao {
  height: 34rem;
}

.container__frase {
  color: var(--vermelho);
}

.container__titulo {
  color: var(--azul-escuro);
}

.container__texto {
  color: var(--cinza);
}

.introducao__frase {
  font-size: 16px;
  font-weight: 600;
}

.introducao__titulo {
  margin: 2.8rem 0;
  font-size: 48px;
  font-weight: 600;
}

.introducao__texto {
  height: 6.6rem;
  width: 55%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

.container__diferenciais {
  height: 24rem;
  display: flex;
  justify-content: space-evenly;
}

.diferencial {
  flex: 1;
  margin: 0 2.7rem;
}

.diferencial-topico__titulo {
  color: var(--vermelho);
  font-size: 60px;
  font-weight: 600;
}

.diferencial-topico__subtitulo {
  color: var(--azul-escuro);
  font-size: 18px;
  font-weight: 500;
  margin: 1.5rem 0;
}

.diferencial-topico__texto {
  color: var(--cinza);
  line-height: 1.5em;
}

.container__procura {
  padding-top: 8rem;
}

.procura__frase {
  font-size: 14px;
}

.procura__titulo {
  font-size: 36px;
  font-weight: 600;
  margin: 1.3rem 0 1.6rem 0;
}

.procura__texto {
  font-size: 20px;
  font-weight: 400;
}

.imagem__equipe {
  margin: 5.3rem 2.8rem;
}

.area-atuacao {
  margin-bottom: 5.3rem;
}

.area-atuacao__titulo {
  margin-bottom: 2.6rem;
  color: var(--azul-escuro);
  font-size: 20px;
}

.cargo-informacoes {
  height: 7rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 2rem 2.3rem 2rem;
}

.cargo-informacoes__descricao {
  color: var(--cinza);
  display: flex;
  gap: 3rem;
}
